<!DOCTYPE html>
	<head>
				<TITLE>Design Well</TITLE>
		<%= favicon_link_tag 'favicon.ico' %>
		<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class='cycle-slideshow'
				data-cycle-fx=carousel
				data-cycle-carousel-visible=1
				data-cycle-slides=".splash"
    			data-cycle-timeout=0
    			data-cycle-next="#next"
    			data-cycle-prev="#prev">
    			
					<%= image_tag "splash1.jpg", {:class => 'splash first'} %>
				<%= image_tag "splash2.jpg", {:class => 'splash'} %>
				<%= image_tag "splash3.jpg", {:class => 'splash'} %>
			</div>
				<a href=# id='next'><%= image_tag 'right.png'%></a>
			</div>
		

	</body>
</html>