/*@font-face {
    font-family: "Theserif";
    src: url('theserifplain.ttf') format('truetype');
}*/
.cycle-slideshow                              { margin:0 auto 5px auto; } /*for the jQuery cycle plug in*/
.cycle-slideshow img                          { display:none; width: 100%; cursor: pointer;}
.cycle-slideshow img.first                    { display:block;}

/*.action-zone div						{display: none;}
.action-zone div.first					{display: block;}*/

.midnav{
	position: absolute;
	height: 100px;
	width: 100px;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
}
body{
	width: 100%;
	/*background-image: url('bg4.jpg');*/
	background-size: 100%;
}
h1{
	/*font-family: "Neutrabold",Verdana,Tahoma;*/
	font-family: 'Crete Round', serif;
	color: white;
	font-size: 20px;
	cursor: pointer;
}
h2{
	font-family: 'Crete Round', serif;
	font-size: 14px;
	color: auto;
	cursor: pointer;	
}
h3{
	font-family: 'Crete Round', serif;
	font-size: 16px;
	color: white;
	text-align: center;
	/*padding-top: 10px;*/
	margin: 0 15px;
}
h4{
	font-family: 'Crete Round', serif;
	font-size: 18px;
	color: white;
	text-align: center;
	/*padding-top: 10px;*/
	margin: 0 15px;	
}
p{
	font-family: 'Crete Round', serif;
	color: white;
	font-size: 18px;
	line-height: 20px;
	padding: 0 2px;
}


/* ==========================================================================
   Side Nav Bar
   ========================================================================== */

.sidebar{
	width: 130px;
	height: 800px;
	text-align: center;
	background-color: rgba(0,0,0,.5);
	border-right: 2px solid rgba(0,0,0,.8);
	float: left;
}
#logo{
	width:100px;
	/*margin-top: 10px;*/
	display: inline-block;
	vertical-align: middle;
}
#links{
	bottom: 140px;
	position: absolute;
	padding: 1px 0;
	/*border-top: 2px solid rgba(0,0,0,.8);
	border-bottom: 2px solid rgba(0,0,0,.8);*/
}
.nav-button{
	width: 120px;
	height: 30px;
	margin: 4px 0 0 0;
	padding-right: 10px;
	/*line-height: 25px;*/
	vertical-align: middle;
	text-align: right;
	background-color: rgba(0,0,0,0);
	/*border-top: 2px solid rgba(0,0,0,.8);
	border-bottom: 2px solid rgba(0,0,0,.8);*/
}
.focusbutton{
	background-color: rgba(0,0,0,1);
	color: white;
}
.sub-menu{
	background-color: rgba(255,255,255,.6);
	display: none;
	margin: 4px 0;
	border-bottom: 2px solid rgba(0,0,0,.8);
}
.sub-cat{
	width: 115px;
	height: 20px;
	margin: 0 0;
	padding-right: 15px;
	text-align: right;
	/*line-height: 25px;*/
	vertical-align: middle;
	border-top: 2px solid rgba(0,0,0,.8);
}

/* ==========================================================================
   Hover States
   ========================================================================== */
.sub-cat:hover{
	background-color: rgba(0,0,0,.5);
	color: white;
}
.nav-button:hover{
	background-color: rgba(0,0,0,.8); 
}
.thumb-box:hover .thumbnail{
	border: solid 2px white;
}

/* ==========================================================================
   Main Stage
   ========================================================================== */
.stripe{
	background-color: rgba(0,104,233,1);
	width: 100px;
	height: 700px;
}
/*.stripe:hover{
	background-color: rgba(0,104,233,1);
	transition: all .5s ease-in;
	transition: all .5s ease-out;
}*/
.xxx{
	background-color: rgba(0,0,0,.5);
	margin-left: 10px;
	margin-top: 10px;
	width: 640px;
	height: 360px;
	padding: 5px;
	border: solid black 2px;
}
.abc{
	background-color: rgba(0,0,0,.5);
	margin-left: 10px;
	margin-top: 10px;
	width: 200px;
	height: 120px;
	border: solid black 2px;
	float: left;
}
.def{
	background-color: rgba(0,0,0,.5);
	margin-left: 10px;
	margin-top: 10px;
	width: 436px;
	height: 120px;
	border: solid black 2px;
	float: left;	
}
#stage{
	
	text-align: center;
	float: left;
	overflow: hidden;
}
#spotlight{
	/*background-color: blue;*/
	border-bottom: solid 2px black;
	width: 100%;
	height: 70%;
	float: left;
}
#blurb{
	/*background-color: green;*/
	border-bottom: solid 2px black;
	width: 100%;
	height: 10%;
	float: left;
}
#choices{
	background-color: yellow;
	width: 100%;
	height: 20%;
	float: left;
}
#slideshow{
	width: 100%;
}
.splash{
	/*max-width: 100%;*/
	/*position: absolute;*/
}

.video-stage{
		margin-top: 20px;
		/*display: none;*/

}
.blurb{
	width: 768px;
	height: 60px;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	margin: -4px auto 0 auto;
}
.sample-bar{
	width: 100%;
	height: 140px;
	margin-left: 132px;
	text-align: center;
	/*background-color: rgba(0,0,0,.5);
	border-top: 2px solid rgba(0,0,0,.8);*/
	/*border-bottom: 2px solid rgba(0,0,0,.8);*/
	position: absolute;
	float: left;
	bottom: 0;
	display: none;
	z-index: 10;
}
.thumb-box{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-top: 10px;
	padding: 0 5px;
}
.thumbnail{
	width: 165px;
	height: 93px;
	border: solid 2px rgba(0,0,0,.8);
	cursor: pointer;
}
