/*@font-face {
    font-family: "Theserif";
    src: url('theserifplain.ttf');
    src: url('theserifplain.ttf') format('truetype');
}*/
body{
	width: 100%;
	height: 100%;
	background-image: url('test.jpg');
}
h1{
	font-family: Georgia;
	color: white;
	font-size: 20px;
	cursor: pointer;
}
h2{
	font-family: Georgia;
	font-size: 16px;
	color: black;
	cursor: pointer;	
}
h3{
	font-family: Georgia;
	font-size: 18px;
	color: white;
	text-align: center;
	margin: 0px auto;
}


/* ==========================================================================
   Side Nav Bar
   ========================================================================== */

#logo{
	width:90px;
	margin: 10px 20px;
	display: inline-block;
	vertical-align: middle;
}
#vertbar{
	height: auto;
	width: 130px;
	background-color: rgba(0,0,0,.5);
	border-right: 2px solid rgba(0,0,0,.8); 
	position: absolute;
}
#links{
	bottom: 30px;
	position: absolute;
}
.nav-button{
	width: 120px;
	height: 30px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 30px;
	vertical-align: middle;
	text-align: left;
	border-top: 2px solid rgba(0,0,0,.8);
	border-bottom: 2px solid rgba(0,0,0,.8);
	border-right: 2px solid rgba(0,0,0,.8);
	/*z-index: 1;*/
}
.sub-menu{
	background-color: rgba(255,255,255,.6);
	margin-top: -5px;
	display: none;

}
.sub-cat{
	width: 110px;
	height: 25px;
	padding-left: 20px;
	margin: 0 auto;
	line-height: 25px;
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid rgba(0,0,0,.8);
	border-right: 1px solid rgba(0,0,0,.8);
}

/* ==========================================================================
   Hover States
   ========================================================================== */
.sub-cat:hover{
	background-color: black;
	color: white;
}
.category:hover #pictures{
	background-color: rgba(245,33,37,.6); 
}
.category:hover #words{
	background-color: rgba(250,95,91,.6);
}
.category:hover #stories{
	background-color: rgba(250,136,133,.6);
}
.category:hover #about{
	background-color: rgba(184,70,67,.6);
}
.category:hover #contact{
	background-color: rgba(159,16,12,.6);
}

/* ==========================================================================
   Main Stage
   ========================================================================== */

#main-stage{
	margin-left: 130px;
	width: 100%;
	height: 400px;
	background-color: white;
}
#video-stage{
	margin: auto;
	width: 400px;
	height: 225px;
	background-color: black;

}

.bar{
	background-color: rgba(255,255,255,.4);
	border-top: 2px solid rgba(0,0,0,.8);
	border-bottom: 2px solid rgba(0,0,0,.8);
	margin-left: 132px;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 186px;
	bottom: 35px;
}
.thumb-row{
	margin-left: 8px;
}
.thumbbox{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-top: 16px;
	padding: 0 5px;
}
.thumbnail{
	height: 124px;
	width: 220px;
	border: solid 2px rgba(0,0,0,.8);
	background-color: white;
	cursor: pointer;
}
